.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.login-content {
    background: rgb(212,251,63);
    background: radial-gradient(circle, rgba(212,251,63,1) 0%, rgba(219,70,252,1) 100%);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
}

.login-title {
    color: #007bff;
}

.login-form {
    margin-top: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-field {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0056b3;
}

.login-text {
    margin-top: 20px;
    margin-bottom: 20px;
}

.register-link {
    display: inline-block;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.register-link:hover {
    color: #0056b3;
}
